<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

h2 {
  text-transform: capitalize;
}
</style>

<main>
<app-green [title]="sections.green"></app-green>
  <div class="content-container">
    <app-grey [title]="sections.gray" [ngClass]="sections.gray + '-section'"></app-grey>
    <app-blue [title]="sections.blue" [ngClass]="sections.blue + '-section'"></app-blue>
    <app-red [title]="sections.red" [ngClass]="sections.red + '-section'"></app-red>
  </div>
</main>


<router-outlet></router-outlet>
